main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cricle {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--color-blue);
  overflow: hidden;
}

.cricle:after {
  content: '';
  width: 50%;
  height: 100%;
  right: -2px;
  top: 0;
  position: absolute;
  background-color: var(--color-grey-4);
  border-left: 4px solid var(--color-white);
}
